# .gitignore for util_bin Repository
# Written by Joshua Morrison (MrM21632)

# We're simply concerned with ignoring any instances of 'Debug' and 'Release'
# folders, which includes 'x64' folders.
Debug/
Release/
x64/

# Test files for Factorization Utility, and additional folders for factor_cpp
/factor/factor_c

# We will ignore any and all Visual Studio files as well.
.vs/
*.VC.db
*.suo
*.user

# Finally, we exclude executables and archives
*.exe
*.zip
*.7z
*.tar
*.gz
*.bzip2
*.xz
*.rar